<?xml version="1.0" encoding="UTF-8"?>
<!-- Marker file indicating CDI should be enabled -->
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
        http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd" bean-discovery-mode="all">

	<interceptors>
		<class>org.demoiselle.security.LoggedInInterceptor</class>
		<class>org.demoiselle.security.RequiredPermissionInterceptor</class>
		<class>org.demoiselle.security.RequiredRoleInterceptor</class>
		<class>org.demoiselle.configuration.ConfigurationInterceptor</class>
		<class>org.demoiselle.rest.util.CacheInterceptor</class>

	</interceptors>

</beans>
